.Home {
  color: orange;
}

.navbar {
  background-color: #13829f;
}

.TopText {
  color: white;
}

.ModalButton {
  color: white !important;
  border: 1px solid white !important;
  padding: 15px;
  font-size: 20px;
  background-color: none !important;
}

.Modal:active {
  background-color: white;
}

.Footer {
  background-color: #13829f;
  color: #13829f;
}


.MainPic {
	border: 2px solid #b95353;
	height: 400px;
}

.RedDivBorder {
	background-color: #b95353;
	height: 10px;
	color: #b95353;
	padding: 5px;
	width: 100%;
}

.Blue {
	height: 100px;
	background-color: #f1b856;
}

/* SECOND PART ie LOCATIONS */
.New2 {
	text-align: center;
}

.Background {
	height: 200px;
}

.New {
	text-align: center;
	background-color: #f1b856;
}

.TopPic {
	height: 50px;
	width: 400px;
	border: 2px solid black;
}
